.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    margin-left: 30%;
    margin-top: 10%;
    border: 4px solid gold;
    
    
}
.container >div {
    display: inline;
    margin-bottom: 15px;
}
label{
    display: inline-block;
}